<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Dotsquare Assignment</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" />
    <meta content="" name="author" />
    
    <script src="~/assets/js/vendor/apexcharts.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/app.js?v=8"></script>
    <link href="~/assets/css/vendor/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/vendor/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/vendor/buttons.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/vendor/select.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style" />
    <link href="~/assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" />
    <link rel="shortcut icon" href="~/assets/images/logo-black.svg">
    <link href="~/assets/css/vendor/summernote-bs4.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/fontawesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/fontawesome/fontawesome.js"></script>
    <script src="~/Scripts/fontawesome/fontawesome.min.js"></script>
</head>
<body class="loading">
    <div class="left-side-menu">
        <div class="h-100" id="left-side-menu-container" data-simplebar>
            <ul class="metismenu side-nav mt-3">
                <!--        <li class="side-nav-title side-nav-item">Navigation</li>-->
                <li class="side-nav-item"> <a href="/Home/Index" class="side-nav-link"> <i class="uil-home-alt"></i> <span> Dashboards </span> </a> </li>
                <li class="side-nav-item"> <a href="/Home/Jobs" class="side-nav-link"> <i class="uil-store"></i> <span> Jobs </span> </a> </li>

            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="navbar-custom">
        <div class="mt-2" style="text-align:right;"> <span> @Html.ActionLink("Logout", "logout", "Login")</span></div>
    </div>

    <input type="hidden" id="txtname" value="@Session["name"]" />
    <input type="hidden" id="txtticket" value="@Session["ticket"]" />
    <div class="wrapper">
        @RenderBody()
    </div>

    <div class="wrapper">
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <script>(document.write(new Date().getFullYear()))</script>  DotSquare Assignment © Rajendra Prasad
                    </div>

                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*<link href="~/Content/font-awesome.css" rel="stylesheet" />*@
    <script src="~/assets/js/vendor.min.js"></script>
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/js/vendor/apexcharts.min.js"></script>
    <script src="~/assets/js/vendor/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/assets/js/vendor/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/assets/js/pages/demo.dashboard.js"></script>
    <script src="~/assets/js/vendor/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/vendor/dataTables.bootstrap4.js"></script>
    <script src="~/assets/js/vendor/dataTables.responsive.min.js"></script>
    <script src="~/assets/js/vendor/responsive.bootstrap4.min.js"></script>
    <script src="~/assets/js/vendor/dataTables.buttons.min.js"></script>
    <script src="~/assets/js/vendor/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/js/vendor/buttons.html5.min.js"></script>
    <script src="~/assets/js/vendor/dataTables.keyTable.min.js"></script>
    <script src="~/assets/js/vendor/dataTables.select.min.js"></script>
    <script src="~/assets/js/pages/demo.datatable-init.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <link href="~/assets/css/toastr.min.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {
            var admin = $("#txtadmin").val();
            var profilepic = $("#txtprofilepic").val();
            var name = $("#txtname").val();
            //$("#spnprofilepic").html("<span class='account-user-avatar'><img src='/assets/images/profileimages/" + (profilepic != "" ? profilepic : "user1.png") + "' alt='user-image' class='rounded-circle'> </span><span> <span class='account-user-name'>" + name + "</span> <span class='account-position'>" + (admin == 'true' ? "Admin" : "Staff") + "</span></span>");
            //$("#btnlogout").click(function () {
            //    _logout();
            //});
        });
    </script>

</body>
</html>
